table {
    margin: 20px;
    font-family: sans-serif, Arial, Helvetica;
    border-collapse: collapse;
    width: 98%;
}

th{
  border: 1px solid #3c5f69;
  background: #608e9c;
  padding-top: 20px;
}

td{
  border-bottom: 1px solid #3c5f69;
}

td, th {
  padding: 20px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #c7dadf;
}

tr:nth-child(odd) {
  background-color: #c7dadf;
}

.headimage {
  width: 60px;
  height: 60px;
}

body{
width: 99%;
background-color: #abccd4;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #241114;
  overflow: hidden;
  
}

.topnav {
  margin-bottom: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:#7fd6ec;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4a9fb4;
  color:#1a0a0c;
  text-decoration-line: underline;
  text-decoration-style: double;
}

/* Add a color to the active /current link */
.topnav a.active {
  background-color: #2b6372;
  color: white;
}

*{
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #0f1e22;
  float: left;
  width: 80%;
  background:  #bfd6db;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background:  #255966;
  color:  #86b9c5;
  font-size: 17px;
  border: 1px solid  #102429;
  border-left: none;
  cursor: pointer;
}
form.example button:hover {
  background:  #6eb0c0;
}
form.example::after {
  content: "";
  clear: both;
  display: table;
}