table {
  margin: 20px;
  font-family: sans-serif, Arial, Helvetica;
  border-collapse: collapse;
  width: 98%;
}

.logout_button{
  background-color: crimson;
}

img.animated-gif{
  width: 100%;
  border: px ,ridge, #0f1e22;
  overflow: hidden;
  padding-bottom: 10px;
  
}

.error {
  padding: 20px;
  text-align: center;
  color: #7fd6ec;
  background-color: #1c424d;
}


.messages ul {
  text-align: center;
}

body{
  width: 100%;
  margin: 0px;
  text-align: center;
  background-color: #e4d1dd;
  padding: 0;
}

.submit{
  padding: 15px;
}

.header{
  text-align: center;
}

.login-section{
  text-align: center;
  background-color: #2b6372;
  border: 50px ,ridge, #0f1e22;
  border-width: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 20%;
}

th{
  border: 1px solid #3c5f69;
  background: #608e9c;
  padding-top: 20px;
}

td{
  border-bottom: 1px solid #3c5f69;
}

td, th {
  padding: 20px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #c7dadf;
}

tr:nth-child(odd) {
  background-color: #c7dadf;
}

.headimage {
  width: 60px;
  height: 60px;
}

/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 1px;
  text-align: center;
  margin-left: -4px;
  padding-right: middle;
  background-color: #000000;
  overflow: hidden;
  margin-bottom: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: inline-end;
  color:#7fd6ec;
  text-align: center;
  padding: 10px 1px;
  text-decoration: none;
  font-size: 17px;
  border: #000000;
  border-radius: 2px;
  border-style: solid;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #4a9fb4;
  color:#1a0a0c;
  text-decoration-line: underline;
  text-decoration-style: double;
}

/* Add a color to the active /current link */
.topnav a.active {
  background-color: #2b6372;
  color: white;
}

*{
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #0f1e22;
  float: left;
  width: 80%;
  background:  #bfd6db;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px 16px;
  background:  #000000;
  color:  #86b9c5;
  font-size: 17px;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background:  #e4d1dd;
  color:#000000;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.button{
  position: fixed;
  float: inline-end;
  top: 0;
  text-align: right;
  padding-left: 2px;
  padding-right: 2px;
  }

  .button a{
  float: right;
  color: #e4d1dd;
  background-color: #000000;
  padding: 10px 3px;
  text-decoration: underline;
}

.T{
  width: 320px;
  padding: 10px;
  border: 5px, solid, #7fd6ec;
  background-color: #608e9c;
  margin: 0;
}

.flashes > li{
  list-style-type: none;
}

.flashes{
  place-items: center;
  margin-left: 560px;

}

.flashes li{
 text-align: center;
 margin-left: 45%;
}

.alert-error {
  background-color: #2b6372;
  padding: 10px;
  padding-bottom: 35px;
  width: 50%;
  text-align: center;
  color: #e4d1dd;
}

.log-in{
  background-color: #2b6372;
  border:4px,solid,#163741;
  padding: 10px;
  padding-bottom: 35px;
  width: 50%;
  text-align: center;
  color: #e4d1dd;
}

input[type=submit] {
  background-color: #e4d1dd;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.zz{
  text-align: center; 
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  color: #e4d1dd;
}

.log-in .h2{
  text-align: center;
}

input[type=text]{
  background-color: #e4d1dd;
  border: none;
  font-family: Helvetica, sans-serif, Arial,;
  padding: 10px;
}

input[type=text]:active {
  border: none;
}

.messages-flash{
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.flash.div{
  text-align: center;
}

.flash.div ul li{
  display:inline;
}