<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='logo.png')}}"/>
    <title>Game characters</title>
</head>
<body>
        <div class="bd.example" align="middle">
        <div class="header">
            <img  class="animated-gif" src="{{url_for('static', filename='header-gif.gif')}}" />
        </div>

        <div class="topnav">
            <a href="/"><i class="fa fa-fw fa-user"></i>Home</a>
            <a href="franchise"><i class="fa fa-fw fa-user"></i>Franchise</a>
            <a href="characters">Characters</a>
            <a href="searchE">Era</a>
            <a href="register">Register?</a>
            <div class="logout_button">
                <a href="logout">logging out?</a>
            </div>
        </div>

        <header>
            <div class="button">
                <a title="log out" href="logout">Logging out?</a>
            </div>
        </header>

        {% block body %}
        
        {% endblock %}
        
    {% with messages = get_flashed_messages() %}

    {% if messages %}

        <ul class=flashes>

        {% for message in messages %}
            <div class="alert-error">{{ message }}</div>
        {% endfor %}

        </ul>

    {% endif %}
{% endwith %}

</body>
</div>
</html>