<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='logo.png')}}"/>
    <title>Game characters</title>
</head>
<body>
        <div class="bd.example" align="middle">
        <h1>Database.</h1>
        <header>
            <div class="button">
                <a title="log out" href="logout">logging out?</a>
            </button>
        </header>
    
        <div class="topnav">
            <a href="/"><i class="fa fa-fw fa-user"></i>Home</a>
            <a href="franchise"><i class="fa fa-fw fa-user"></i>Franchise</a>
            <a href="characters">Characters</a>
            <a href="searchE">Era</a>
            <a href="register">Register?</a>
            <a href="login">login?</a>
        </div>
        
        {% block body %}
        
        {% endblock %}
        
        {% with messages = get_flashed_messages() %}

    {% if messages %}

        <ul class=flashes>

        {% for message in messages %}

            <li>{{ message }}</li>
        
        {% endfor %}
    </ul>

    {% endif %}
{% endwith %}

</body>
</div>
</html>